extends /templates/layouts/default.pug

block content
  section
    .container
      h2 Blog

      h3 Index

      ul.list.pl0
        - routes.blog.sort((a,b) => new Date(b.date) - new Date(a.date))
        each post in routes.blog
          li.black.lh-copy.mb3.mb0-ns
            .dib.w4-ns.tr-ns #{ post.date }
            .dib.w2
            br.dn-ns
            span.tl.dib
              a(href='/blog/' + post.slug)
                |#{ post.title }
