$black=#131313

$blue=#5178D1
$dark-blue=#1D9CD1
$darker-blue=#035F86

$purple=#4c36e4

$red=#f00
$dark-red=#f00
$white=#fff

:focus
  outline: 2px solid red

.bg-black, .hover-bg-black:hover
  background-color: $black
  a, a:active, a:visited, a:hover
    &.link
      color: white
      transition: none

.bg-red, .hover-bg-red:hover
  background-color: $red
  border-color: $red

a.hover-bg-none:hover
  background-color: rgba(0,0,0,0)

.bg-white, .hover-bg-white:hover
  background-color: $white

.bg-blue
  background-color: $blue
  
.black
  color: $black
  
.b--black
  border-color: $black

.blue
  color: $blue
  
object.white svg
  color: white
  background-color: white
  
::selection
  background-color: rgba(240,15,0, 0.99)
  color: white
  opacity: 1
    