$black=#131313
$blue=#2EB3EB
$dark-blue=#1D9CD1
$darker-blue=#086E99
$red=#f00
$dark-red=#f00
$white=#fff

:focus
  outline: 2px solid red

.bg-black, .bg-hover-black:hover
  background-color: $black
  a, a:active, a:visited, a:hover
    &.link
      color: white
      transition: none

.bg-red, .hover-bg-red:hover
  background-color: $red
  border-color: $red

.bg-blue
  background-color: $blue
  
.black
  color: $black
  
.b--black
  border-color: $black

.blue
  color: $blue
  
object.white svg
  color: white
  background-color: white
  
::selection
  background-color: rgba(240,15,0, 0.99)
  color: white
  opacity: 1
    