$black=#131313
$blue=#2EB3EB
$red=#f00

.bg-black
  background-color: $black
  a, a:active, a:visited, a:hover
    &.link
      color: white
      transition: none

.bg-red
  background-color: $red

.bg-blue
  background-color: $blue
  
.black
  color: $black

.blue
  color: $blue
  
object.white svg
  color: white
  background-color: white
  
::selection
  background-color: $red
  color: white