extends /layouts/default.pug

block content
  section
    .container
      h2 Adversarial Assessments
      
      blockquote 
        span If you know the enemy and know yourself, you need not fear the result of a hundred battles.
      cite ― Sun Tzu, The Art of War
