extends /layouts/default.pug

block content 
  h2.fw2.f2 Adversarial Assessments
  
  blockquote.db.tl.f2.fw1.lh-title.mw9
    span If you know the enemy and know yourself, you need not fear the result of a hundred battles.
    br
    p.tr.f5 ― Sun Tzu, The Art of War
