extends /layouts/default.pug

block content 
  h2.fw2.f2 Adversarial Assessments
  
  blockquote.db.tl.f2.fw1.lh-title.mw9
    span In strategy, the longest way round is often the shortest way there; [...] an indirect approach loosens the defender's hold by upsetting his balance.
    br
    p.tr.f5 ― B.H. Liddell Hart
