extends /layouts/default.pug

block content 
  h2.fw2.f2-ns Application Security Consulting
      
  blockquote.db.tl.f2.fw1.lh-title.mw9
    span The profoundest truth of war is that the issue of battle is usually decided in the minds of the opposing commanders, not in the bodies of their men.
    br
    p.tr.f5 ― B.H. Liddell Hart
