extends /layouts/default.pug

block content 
  section
    .container
      h2 Application Security Consulting
          
      blockquote
        span The profoundest truth of war is that the issue of battle is usually decided in the minds of the opposing commanders, not in the bodies of their men.
      cite ― B.H. Liddell Hart
