extends /layouts/default.pug

block content 
  section.bg-black.white.min-vh-50
    .container.b5
      h2 Custom Tool Development

      blockquote
        span We shape our tools and thereafter our tools shape us.
      cite ― Marshall McLuhan



  include /components/contact-link-section.pug