extends /layouts/default.pug

block content 
  section
    .container
      h2 Custom Tool Development

      blockquote
        span We shape our tools and thereafter our tools shape us.
      cite ― Marshall McLuhan


