extends /templates/layouts/default.pug

block head
  section.hero.hero-about.flex-column.bg-black
    .db.h4.flex.items-center.justify-center.mt5
      h2
        a.bsn(href="/company/about") 
          span.white.fw2.sans-serif About

block content

  section
    .container
      article.lh-copy.mv4.pv2.blog-post

        h2 Are we secure yet?

        p
        | Good risk information puts business owners in the position to make cost-effective decisions.

        p
        | Risk is an essential part of any business. When managed, it drives growth and opportunity.

        p
        | We are Diagonal, we help small companies get measurably better a cyber security.

  section.pv1.bg-white.black.min-vh-60(style="background-image: url('/images/bg3.png'); background-repeat-x: repeat; background-position: center;")
    .container
