extends /templates/layouts/default.pug

block content
  section.hero.bg-black.white.flex-column
    .db.h4.flex.items-center.justify-center
      h2 
        a.bsn(href="/company/about") 
          span.white.fw2.sans-serif About

  section
    .container
      article.lh-copy.mv4.pv2.blog-post
        p Diagonal is a boutique application security firm.

        p 
          | Our mission is to protect our community’s technological businesses from adversaries who wish to do them harm.  

        p 
          | We do this by emulating adversarial behaviour that challenge prevalent assumptions. We then help design, implement and deploy security knowledge and disciplines. 


        h3.f3.fw2.mb4.mt4 Areas of Focus

        p We specialize in researching, attacking and defending modern applications:

        ul
          li Cloud-based Workloads
          li Service Oriented Architectures
          li Distributed Systems
          li Virtualized Environments
          li Container-based workflows
          li Serverless Runtimes

        p We work with startups and small organizations because they are facing similar challenges securing their systems as their much larger counterparts, but must do so with less expertise and fewer resources.

  section.bg-black.white
    .container
      article.pt1.pb5.lh-copy.mb3.blog-post

        h3.f3.fw2.mv4 Founding Principles

        article
          h4 Boutique.

          p We tailor our engagements to fit our clients needs.

        article
          h4 Sustainable.

          p We want to build a company that will still be here hundreds of years from now.

        article
          h4 Bootstrapped.

          p Raise money by selling products &amp; services. Stay lean.

        article
          h4 Remote-first.

          p Our team is hired locally but works from home when they judge it best.

        article
          h4 Continuous Learning.

          p A significant percentage of employee time can be spent on training and research.

  section.pv1.bg-white.black.min-vh-60(style="background-image: url('/images/bg3.png'); background-repeat-x: repeat; background-position: center;")
    .container