extends /templates/layouts/default.pug

block content
  section.min-vh-20.bg-black.white
    .container
      article.lh-copy
        h2 About
        
        p Diagonal is a boutique application security firm.

        p 
          | Our mission is to protect our community’s technological businesses from adversaries who wish to do them harm.  

        p 
          | We do this by emulating adversarial behaviour that challenge prevalent assumptions. We then help design, implement and deploy security knowledge and disciplines. 

  section.pv1.bg-black.white
    .container
      article.pv3.lh-copy

        h3.f3.fw2.mb4.mt1 Areas of Focus

        p We specialize in researching, attacking and defending modern applications:

        ul
          li Cloud-based Workloads
          li Service Oriented Architectures
          li Distributed Systems
          li Virtualized Environments
          li Container-based workflows
          li Serverless Runtimes

        p We work with startups and small organizations because they are facing similar challenges securing their systems as their much larger counterparts, but must do so with less expertise and fewer resources.

      article.pt1.pb5.lh-copy.mb3

        h3.f3.fw2.mb4 Founding Principles


        h4 Boutique.

        p We tailor our engagements to fit our clients needs.

        h4 Sustainable.

        p We want to build a company that will still be here 50 and 60 years from now.

        h4 Bootstrapped.

        p Raise money by selling products &amp; services. Stay lean.

        h4 Local AND remote-first.

        p Our team is hired locally but works from home when they judge it best.

        h4 Continuous Learning.

        p 20% of employee time spent on training and research.

  section.pv1.bg-white.black.min-vh-60(style="background-image: url('/images/bg3.png'); background-repeat-x: repeat; background-position: center;")
    .container