extends /templates/layouts/default.pug

block head
  section.hero.hero-about.flex-column.bg-black
    .db.h4.flex.items-center.justify-center.mt5
      h2
        a.bsn(href="/company/about") 
          span.white.fw2.sans-serif About

block content

  section
    .container
      article.lh-copy.mv4.pv2.blog-post

        h2 Are we secure yet?

        p
        | Good risk information puts managers in the position to make cost-effective business decisions.

        p
        | Risk is an essential part of any business. When managed, it drives growth and opportunity.

        p
        | We use quizzes to record threats, capabilities, and probable loss magnitudes. We then run Monte Carlo simulations to generate dollar-quantified exposures for each scenario.

        p
        | We are Diagonal, we help companies get measurably better a cyber security.

  //- section.bg-black.white
  //-   .container
  //-     article.pt1.pb5.lh-copy.mb3.blog-post

  //-       h3.f3.fw2.mv4 Founding Principles

  //-       article
  //-         h4 Boutique.

  //-         p We tailor our engagements to fit our clients needs.

  //-       article
  //-         h4 Sustainable.

  //-         p We want to build a company that will still be here hundreds of years from now.

  //-       article
  //-         h4 Bootstrapped.

  //-         p Raise money by selling products &amp; services.

  //-       article
  //-         h4 Remote-first.

  //-         p Our team is hired locally but works from home when they judge it best.

  //-       article
  //-         h4 Continuous Learning.

  //-         p 20% of employee time can be spent on training and research.

  section.pv1.bg-white.black.min-vh-60(style="background-image: url('/images/bg3.png'); background-repeat-x: repeat; background-position: center;")
    .container
