extends /templates/layouts/default.pug

block content
  section.hero.bg-black.white.flex-column
    .db.h4.flex.items-center.justify-center
      h2 
        a(href="/company/contact") 
          span.white.fw2.sans-serif Contact


  section
    .container.lh-copy
      article.pv4
        p
          |We'd love to talk to you.
        p
          | You can reach us at 
          a.bg-black.hover-bg-red.white.link(href="mailto:hello@diagonal.sh") 
            | hello@diagonal.sh
          |  or use the form below to send us a message.

        br

        include /templates/components/contact-form.pug