extends /templates/layouts/layout.pug

block body
  section.min-vh-100.bg-black.white.flex.flex-column.items-center.justify-center
    .container.tc.flex.flex-column.justify-center.items-center
      a.bsn.hover-bg-none.white.flex.items-center(href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x68;&#x65;&#x6c;&#x6c;&#x6f;&#x40;&#x64;&#x69;&#x61;&#x67;&#x6f;&#x6e;&#x61;&#x6c;&#x2e;&#x73;&#x68;")
        img.h3(src="/images/diagonal_wordmark.svg")
