extends /templates/layouts/layout.pug

block body
  section.min-vh-100.bg-black.white.flex.flex-column.items-center.justify-center
    .container.tc.flex.flex-column.justify-center.items-center
      a.bsn.hover-bg-none.white.flex.items-center(href="mailto:%68%65%6c%6c%6f%40%64%69%61%67%6f%6e%61%6c%2e%73%68")
        img.h3(src="/images/diagonal_wordmark.svg")
