extends /templates/layouts/default.pug

block head
  section.min-vh-100.home-hero.hero.bg-black.white.flex.items-center.justify-center.ph3.flex-column

    .container.mt6.tc.flex-column.flex.justify-center.items-center
      h2.lh-title.f2.f1-ns.mt0.fw2
        |Your Application Security Task Force 
        br
      h4.f5.f3-ns.fw1.lh-copy.mw6
        | We help software companies
        | stay agile while defending
        | cloud-native applications


  section.bg-white.flex.flex-column.items-center.tc.pv5.ph2

    .container.flex.flex-column.justify-center.items-center.tl

      blockquote
        span
          |Set aside your peaceful ways,
          | and prepare for war.
          | Melt down your plowshares,
          | and take up your swords.
          | We will see the flesh laid low, 
          | the bodies fall.
          | The Most High that none may know
          | watches us all.
      cite ― The Sword, "Hawks and Serpents"

  section.flex.flex-column.items-center.tc.pv5.ph2.min-vh-50(style="background-image: url('images/bg2.png'); background-position-y: center;  background-position-x: center;  background-repeat-x: repeat;")

    .container.flex.flex-column.justify-center.items-center.tl

      blockquote
        span
      cite

  section.bg-white.black.flex.flex-column.items-center.tc

    h3.mt5.f2-ns.f3.fw2.mb0
      | Our clients &amp; partners

    .flex.justify-center.ph3.pv4

      .flex.flex-column.items-center
        
        ul.list.pl0.mv4-ns.flex.items-center.justify-center.flex-wrap
          each logo in logos
            li.w4-ns.w-100.ph1-ns.ma3.items-center.justify-center.flex
              a(href=logo.url target="_new")
                img.w4(src=logo.src)
