extends /templates/layouts/default.pug
block content 
  section.bg-black.white
    .container.mb3.tc
      h2 Resources

  section.black.pv3.h-100.flex.flex-auto.flex-column.items-center
    .container
      .flex.h-100.flex-column.flex-auto
        each resource in resources
          a.tc.hover-bg-red.fw2.no-underline.pointer.bg-black.white.mv1.pv4.ph4.flex.flex-auto.justify-center.items-center(href=resource.path)
            span.white.fw2.f4-ns.f3-l #{ resource.name }