extends /layouts/default.pug

block content
  article.lh-copy
    section
      h2.fw2.f2-ns About
      
      p Diagonal is a boutique computer security company.

      p 
        | Our mission is to protect our community’s technological businesses
        | from adversaries who wish to do them harm.

      p 
        | We do this by studying and then replicating adversary behaviour to challenge our clients' security posture. We then help them design, implement and deploy security software and policies. 

    section.mv5

      h2.fw3.f3 Areas of Focus

      p We specialize in researching, attacking and defending modern applications:

      ul
        li Service Oriented Architectures
        li Virtualized Environments
        li Container-based workflows
        li Serverless Runtimes

      p We usually work with startups and small to medium organizations, who face similar challenges securing their systems as their much larger counterparts, but must do so with less expertise and fewer resources.

    section.mv5

      h2.fw3.f3 Founding Principles

      h4 Boutique.

      p We tailor our engagements to fit our clients needs.

      h4 Sustainable.

      p We want to build a company that will still be here 50 and 60 years from now.

      h4 Bootstrapped.

      p Raise money by selling products &amp; services. Stay lean.

      h4 Local AND remote-first.

      p Our team is hired locally but works from home when they judge it best.


