extends /layouts/default.pug

block content
  section
    .container
      h2 Contact

      address.fs-normal
        h3.f3.fw5 Want to know more?

        p.f6 We'd love to talk to you. Send us an email.

        p.bg-black.dib.pv2.ph3.fw8.f6
          a.link.white(href="mailto:hello@diagonal.sh") hello@diagonal.sh
