extends /layouts/default.pug

block content
  section
    .container.lh-copy
      h2 Contact

      p
        |We'd love to talk to you.
        br
        | You can reach us at 
        a.bg-black.hover-bg-red.white.link(href="mailto:hello@diagonal.sh") 
          | hello@diagonal.sh
        |  or use the form below to send us a message.

      br

      include /components/contact-form.pug