extends /layouts/default.pug

block content
  h2 Contact

  address.fs-normal
    h3 Want to know more?

    p We'd love to talk to you. Send us an email.

    p.bg-blue.dib.pv2.ph3.fw8
      a.link.white(href="mailto:sales@diagonal.sh") sales@diagonal.sh
