footer.bg-black.white.flex.justify-center.mt5.pv3.pv4-ns
  .container.tc
    .mb3
      each site in social.sites
        span.mh2
          small.f7 
            a.link.white.underline(href=site.url target="_new") #{ site.name }
    small.f7.db.tc.flex.flex-row.justify-center
      |ʩ 2018-2019 Diagonal Systems Inc.