head
  title Diagonal

  meta(charset="utf8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(http-equiv="X-UA-Compatible" content="IE=Edge")
  meta(name="author" content="Diagonal Systems")
  meta(name="description" content="A Boutique Web Application Development Consultancy with a focus on Application Security")

  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/favicon.ico" type="image/x-icon")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
  link(rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css")
  link(rel="stylesheet" href="/style.css")
