extends /templates/layouts/default.pug

block content 
  section.bg-black.white
    .container.mb3.tc
      h2 Services

  section.black.pv3.h-100.flex.flex-auto.flex-column.items-center
    .container.lh-copy.flex.items-center.flex-column
      article.blog-post.mb5
        h3.f3 Danger always strikes when everything seems fine.

        p Avoiding security for the sake of speed will open your business up to many risks. But let's face it: shipping product is usually priority number one. 

        p You've shipped, your clients are happy, but now you're getting nervous. You know you had to cut some corners here and there, and you want to fix that. 
          span.sans-serif.fw7 But you can't afford to lose momentum.

        p 
          | If you know your environment's security is not optimal but don't have time to deal with it, you should know that you’re not alone. 
        

        p We help companies find peace of mind by securing their AWS infrastructure.


  section.w-100.bg-black.white
    .container.lh-copy.mb5
      h3.f3 How we work

      ul.list.flex.justify-start.w-100.pl0.flex-wrap
        li.w-100.w-50-ns.mt4.pr4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/telephone.svg")
            h4.f5.mv2 We like to listen.
            p.f6 Every business has it's own unique set of circumstances. The only way we can be effective at helping you is by taking to time to understand how you work.
        li.w-100.w-50-ns.mt4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/chronometer.svg")
            h4.f5.mv2 There are no miracle cures.
            p.f6 We will tell you like it is. Continuous improvement is the name of the game. Security won't be solved overnight. 
        li.w-100.w-50-ns.mt4.pr4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/shield.svg")
            h4.f5.mv2 You won't just be checking boxes.
            p.f6 Our approach will help you address compliance readiness. But it will do so with the goal of improving your security posture.
        li.w-100.w-50-ns.mt4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/target.svg")
            h4.f5.mv2 This is what we do.
            p.f6 Know that you will be up to date with best practices by working with a team of specialists.

  section.blog-post.w-100.tc.mb3
    .container.lh-copy.w-100.flex.justify-center
      article.tl.pv3(style="max-width: 25rem;")
        h3.f3 AWS Cloud Security Assessment

        p Evaluate your current approach and   create a strong security foundation. Imagine you had real visibility over your infrastructure. Not just a general idea, but a comprehensive and systematic understanding of all the moving pieces. You would be able to make informed decisions on where to spend resources, rather than taking a wild guess and hoping for the best.

        h4 Includes

        ul.list.pl0
          li
            img.w1.h1.mr2.grayscale(src="/images/icons/shield-check.svg")
            span Full-visibility on your security posture
          li 
            img.w1.h1.mr2.grayscale(src="/images/icons/shield-check.svg")
            span Architecture and configuration review
          li 
            img.w1.h1.mr2.grayscale(src="/images/icons/shield-check.svg")
            span Verification of monitoring processes

        a.f4.button.bsn.dib.w-100.tc.mv3(href="/company/contact") Give me peace of mind

