extends /templates/layouts/default.pug

block content 
  section.bg-black.white
    .container.mb3.tc
      h2 Services

  section.black.pv3.h-100.flex.flex-auto.flex-column.items-center
    .container.lh-copy.flex.items-center.flex-column
      article.blog-post.mb5
        h3.f3 Danger always strikes when everything seems fine.

        p Avoiding security for the sake of speed will open your business up to many risks. But let's face it: shipping product is usually priority number one. 

        p You've shipped, your clients are happy, but now you're getting nervous. You know you had to cut some corners here and there, and you want to fix that. 
          span.sans-serif.fw7 But you can't afford to lose momentum.

        p 
          | If you know your environment's security is not optimal but don't have time to deal with it, you should know that you’re not alone. 
        

        p We help companies find peace of mind by securing their AWS infrastructure.


  section.w-100.bg-black.white
    .container.lh-copy.mb5
      h3.f3 How we work

      ul.list.flex.justify-start.w-100.pl0.flex-wrap
        li.w-100.w-50-ns.mt4.pr4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/telephone.svg")
            h4.f5.mv2 We are good listeners.
            p.f6 Every business has it's own unique set of circumstances. The only way we can be effective at helping you is by taking to time to understand how you work.

        li.w-100.w-50-ns.mt4.pr4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/chronometer.svg")
            h4.f5.mv2 We don't believe in miracle cures.
            p.f6 Security is never done. Continuous improvement is the name of the game. Security won't be solved overnight. 

        li.w-100.w-50-ns.mt4.pr4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/shield.svg")
            h4.f5.mv2 You won't just be checking boxes.
            p.f6 Our approach will help you address compliance readiness, but it does so with the goal of improving your security posture first.

        li.w-100.w-50-ns.mt4.pr4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/target.svg")
            h4.f5.mv2 This is what we do.
            p.f6 Working with a team of experts means that you will be up to date with the industry's best practices.

  section.blog-post.w-100.tc.mb3
    .container.lh-copy.w-100.flex.justify-center
      article.tl.pv3(style="max-width: 25rem;")
        h3.f3 AWS Cloud Security Assessment

        p Evaluate your current approach and create a strong security foundation. Imagine you had real visibility over your infrastructure. Not just a general idea, but a comprehensive and systematic understanding of all the moving pieces. You would be able to make informed decisions on where to spend resources, rather than taking a wild guess and hoping for the best.

        h4 Includes

        ul.list.pl0
          li
            img.w1.h1.mr2.grayscale(src="/images/icons/shield-check.svg")
            span Full-visibility on your security posture
          li 
            img.w1.h1.mr2.grayscale(src="/images/icons/shield-check.svg")
            span Architecture and configuration review
          li 
            img.w1.h1.mr2.grayscale(src="/images/icons/shield-check.svg")
            span Verification of monitoring processes

        a.f4.button.bsn.dib.w-100.tc.mv3(href="/company/contact") Give me peace of mind


  section.w-100.bg-black.white
    .container.lh-copy.mb5
      h3.f3 Our process


      ol.list.mv5.process-list
        li
          img.w2.h2.grayscale(src="/images/icons/talk.svg")
          h4.f5.mv1 1. Interviews
          p.f6.mb0 We first spend time with your team to discuss and assess your AWS implementation strategy.
        li
          img.w2.h2.grayscale(src="/images/icons/research.svg")
          h4.f5.mv1 2. Documentation Review
          p.f6 We will review any relevant documentation, including policies, plans, and design documents.
        li
          img.w2.h2.grayscale(src="/images/icons/keys.svg")
          h4.f5.mv1 3. Account Access
          p.f6.mb0 Procedure that give us read-only permissions.
        li
          img.w2.h2.grayscale(src="/images/icons/cloud-gear.svg")
          h4.f5.mv1 4. Automated Scans
          p.f6.mb0 We use automated tools to get the big picture of the current state of your environment.
        li
          img.w2.h2.grayscale(src="/images/icons/binoculars.svg")
          h4.f5.mv1 5. Manual Inspection
          p.f6.mb0 Then we take a closer look at the things that can't be observed using automation.
        li
          img.w2.h2.grayscale(src="/images/icons/folder.svg")
          h4.f5.mv1 6. Clean-up
          p.f6.mb0 We use a procedure that removes any access we have to your systems.
        li
          img.w2.h2.grayscale(src="/images/icons/report.svg")
          h4.f5.mv1 7. Final Report
          p.f6.mb0
            |We deliver our final report that includes:
          ul.f6
            li A maturity assessment of the organization’s AWS governance
            li A security architectural review 
            li Observed deviations from best practice
            li Expert recommendations

        

