extends /templates/layouts/default.pug

block content 
  section.bg-black.white
    .container.mb3.tc
      h2 Services

  section.black.pv3.h-100.flex.flex-auto.flex-column.items-center
    .container.lh-copy.flex.items-center.flex-column
      article.blog-post.mb5
        h3.f3  

        p  


  section.w-100.bg-black.white
    .container.lh-copy.mb5
      h3.f3  

      ul.list.flex.justify-start.w-100.pl0.flex-wrap
        li.w-100.w-50-ns.mt4.pr4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/telephone.svg")
            h4.f5.mv2  
            p.f6  
        li.w-100.w-50-ns.mt4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/chronometer.svg")
            h4.f5.mv2   
        li.w-100.w-50-ns.mt4.pr4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/shield.svg")
            h4.f5.mv2  
            p.f6  
        li.w-100.w-50-ns.mt4
          article
            img.dib.w2.h2.grayscale(src="/images/icons/target.svg")
            h4.f5.mv2  
            p.f6  

  section.blog-post.w-100.tc.mb3
    .container.lh-copy.w-100.flex.justify-center
      article.tl.pv3(style="max-width: 25rem;")
        h3.f3 

        p 

        h4 

        ul.list.pl0
          li
            img.w1.h1.mr2.grayscale(src="/images/icons/shield-check.svg")
            span  
          li 
            img.w1.h1.mr2.grayscale(src="/images/icons/shield-check.svg")
            span  
          li 
            img.w1.h1.mr2.grayscale(src="/images/icons/shield-check.svg")
            span  

        a.f4.button.bsn.dib.w-100.tc.mv3(href="/company/contact") Contact Us

