extends /templates/layouts/default.pug

block content 
  section.black.pv5.h-100.flex.flex-auto.flex-column.items-center
    .container.h-100.flex.flex-auto.flex-column

      .flex.h-100.flex-column.flex-auto
        each service in services
          a.hover-bg-red.fw2.no-underline.pointer.bg-black.white.mv1.pv3.ph4.flex.flex-auto.justify-center.items-center(href=service.path)
            span.fw2.f4-ns.f3-l #{ service.name }
