extends /layouts/default.pug

block head
  section.hero.bg-black.white.h5.flex.items-center.justify-center.ph3
    h2.lh-title.f3.f2-ns.mt0.fw1.tc
      |Web Application Development 
      br
      |with a focus on Security

block content
  div.h-100
