extends /layouts/default.pug

block head
  section.hero.bg-black.white.h5.flex.items-center.justify-center.ph3.flex-column
    .container.tc.items-center(style="max-width: 70ex;")
      h2.lh-title.f3.f2-ns.mt0.fw2
        |Your Application Security Task Force 
        br
      h4.f5.f3-ns.fw1.lh-copy
        | We help product companies defend 
        | cloud-native applications by being
        | their adversaries.

  section.bg-white.flex.flex-column.items-center.tc.pv5

    .container.flex.justify-center.items-center

      blockquote.db.tl.f2.fw1.lh-title.mw9
        span.bg-red.white.ph2 
          |Set aside your peaceful ways,
          | and prepare for war.
          br
          | Melt down your plowshares, 
          | and take up your swords.
          br
          | We will see the flesh laid low, 
          | the bodies fall.
          br
          | The Most High that none may know 
          | watches us all...
        br
        p.tr.f5 ― The Sword, "Hawks and Serpents"


  section.bg-white.black.flex.flex-column.items-center.tc

    h3.mt5.f2-ns.f3.fw2.mb0
      | Our clients &amp; partners

    .flex.justify-center.ph3.pv4

      .flex.flex-column.items-center
        
        ul.list.pl0.mv4-ns.flex.items-center.justify-center.flex-wrap
          each logo in logos
            li.w4-ns.w-100.ph1-ns.ma3.items-center.justify-center.flex
              a(href=logo.url target="_new")
                img.w4(src=logo.src)

block content
  div.h-100
