extends /layouts/default.pug

block content
  article
    h2 Subscribe to our newsletter

    p
      |Every week we send out a list of 5 things I think are worth sharing — 
      |interesting articles, new blog posts, and good ideas straight to your inbox.

    p It’s free. No spam. Unsubscribe whenever you want.

    include /components/newsletter-form.pug
