extends /layouts/default.pug

block content
  article
    h2 #{ post.data.title }
    | !{ post.content }

    section.mt5.ba.ph3.bw2.b--black-90

      p Be the first to know when there is a new post on this blog.

      p Every friday we send out an e-mail with updates and interesting links. 

      include /components/newsletter-form.pug

